services:
  db:
    image: postgres:15
    container_name: db
    restart: always
    environment:
      POSTGRES_DB: pmo_db
      POSTGRES_USER: pmo_user
      POSTGRES_PASSWORD: pmo_pass
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: backend
    restart: always
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - db

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    container_name: frontend
    restart: always
    ports:
      - "80:80"
      # - "443:443"
    depends_on:
      - backend
      # - keycloak

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: always
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro

  # keycloak:
  #   image: quay.io/keycloak/keycloak:25.0
  #   command: start-dev
  #   ports:
  #     - "8081:8080"
  #   environment:
  #     KEYCLOAK_ADMIN: admin
  #     KEYCLOAK_ADMIN_PASSWORD: admin
  #   container_name: keycloak

    

volumes:
  postgres_data:
