version: '3.9'

services:
  backend:
    build: ./backend
    container_name: django-backend 
    ports:
      - "4020:8000"
    volumes:
      - ./backend:/app
    environment:
      - PYTHONUNBUFFERED=1
      - PYTHONDONTWRITEBYTECODE=1
      - DJANGO_SETTINGS_MODULE=backend.settings
      - ALLOWED_HOSTS=*
    restart: unless-stopped

  frontend:
    build: ./frontend
    container_name: react-frontend 
    ports:
      - "4021:4020"
    volumes:
      - ./frontend:/app
    stdin_open: true
    tty: true
    
