.countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
  }
  
  .time-box {
    background-color: #4285f4;
    color: white;
    border-radius: 5px;
    padding: 6px;
    margin: 5px;
    text-align: center;
    width: 60px;
  }
  .time-box1 {
    background-color: #2c2b2b;
    color: white;
    border-radius: 5px;
    padding: 1px;
    margin: 5px;
    text-align: center;
    width: 60px;
  }
  
  .time {
    font-size: 2em;
  }
  
  .label {
    font-size: 1em;
  }
  .bbb {
    margin-top: 10px;
  }
  .no-active{
    text-align: center;
    margin-bottom: -30px;
    font-size: 17px;
    font-weight: 700;
    color: rgb(255, 47, 203);
  }
 
  @keyframes morph {
    0% { background-color: red; }
    33% { background-color: rgb(199, 20, 109); }
    66% { background-color: rgb(255, 153, 0); }
    100% { background-color: red; }
  }

  .bggggg {
    animation: morph 3s infinite;
  }

  /* Reminder card */

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }
  
  .modal-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  