/* Custom date picker styles */
.date-picker {
    /* Base styles */
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    font-size: 1rem;
  }
  
 ::-webkit-datetime-edit {
    color: black; /* Gray-600 */
    
  }
  
::-webkit-datetime-edit-fields-wrapper {
    color: black; /* Gray-700 */
  }
  
::-webkit-datetime-edit-text {
    color: black; /* Gray-500 */
  }
  
 ::-webkit-datetime-edit-year-field {
    color: black; /* Gray-800 */
  }
::-webkit-datetime-edit-month-field {
  color: black
}
  
::-webkit-datetime-edit-day-field {
  color: black
}
  
::-webkit-datetime-edit-hour-field {
  color: black
}
  
::-webkit-datetime-edit-minute-field {
    /* color: red; */
  }
  
::-webkit-datetime-edit-second-field {
    /* color: red; */
  }
  
 ::-webkit-datetime-edit-millisecond-field {
    color: black
  }
  
::-webkit-datetime-edit-ampm-field {
    color: black;
  }
  
::-webkit-calendar-picker-indicator {
      background-image: url('../../public/Calander.svg'); 
      width: 20px;
      height: 20px;
      margin-right: 5px;
 }

